.container.library {
    font-size: 4vw;
}

.container.library .library-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 2em;
    height: 2em;
    line-height: 2;
    color: #ffffff;
    font-family: "Noto Sans JP";
    text-align: center;
}

.container.library .library-header-back-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 2em;
    height: 2em;
}

.container.library .library-header-back-button::before {
    position: absolute;
    display: block;
    content: "";
    top: 50%;
    left:50%;
    font-size: 50%;
    width: 25%;
    height: 25%;
    border-left: 0.2em solid #ffffff;
    border-top: 0.2em solid #ffffff;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.container.library .library-books {
    position: absolute;
    top: 4em;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

.container.library .library-book-group {
    position: relative;
    padding: 1em 0.5em;
    background-color: rgba(255, 255, 255, 0.3);
}

.container.library .library-book-group-title {
    position: relative;
    display: inline-block;
    padding: 0.25em 0;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
}

.container.library .library-book-group-title>input[type="checkbox"] {
    position: relative;
    display: inline-block;
    width: 1px;
    height: 1px;
    vertical-align: text-top;
    margin-right: 1.5em;
    visibility: hidden;
    font-size: inherit;
}

.container.library .library-book-group-title>input[type="checkbox"]::before {
    position: absolute;
    display: block;
    box-sizing: border-box;
    visibility: visible;
    content: "";
    left: 0;
    top: 0;
    width: 1.2em;
    height: 1.2em;
    background: #ffffff;
    border: 0.1em solid #000000;
    border-radius: 0.2em;
}

.container.library .library-book-group-title>input[type="checkbox"]::after {
    position: absolute;
    display: block;
    box-sizing: border-box;
    visibility: hidden;
    content: "";
    left: 0.4em;
    top: -0.2em;
    width: 0.75em;
    height: 1.25em;
    background: transparent;
    border-bottom: 0.3em solid #006600;
    border-right: 0.3em solid #006600;
    transform: rotate(45deg);
}

.container.library .library-book-group-title>input[type="checkbox"]:checked::after {
    visibility: visible;
}


.container.library .library-book {
    position: relative;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0.2em 0;
    margin-top: 0.25em;
    border-left: 0.5em solid transparent;
}

.container.library .library-book:first-child {
    margin-top: 0;
}

.container.library .library-book-title {
    position: relative;
    display: block;
    padding: 0.5em;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
}

.container.library .library-book-title>input[type="checkbox"] {
    position: relative;
    display: inline-block;
    width: 1px;
    height: 1px;
    vertical-align: text-top;
    margin-right: 1.5em;
    visibility: hidden;
    font-size: inherit;
}

.container.library .library-book-title>input[type="checkbox"]::before {
    position: absolute;
    display: block;
    box-sizing: border-box;
    visibility: visible;
    content: "";
    left: 0;
    top: 0;
    width: 1.2em;
    height: 1.2em;
    background: #ffffff;
    border: 0.1em solid #000000;
    border-radius: 0.2em;
}

.container.library .library-book-title>input[type="checkbox"]::after {
    position: absolute;
    display: block;
    box-sizing: border-box;
    visibility: hidden;
    content: "";
    left: 0.4em;
    top: -0.2em;
    width: 0.75em;
    height: 1.25em;
    background: transparent;
    border-bottom: 0.3em solid #006600;
    border-right: 0.3em solid #006600;
    transform: rotate(45deg);
}

.container.library .library-book-title>input[type="checkbox"]:checked::after {
    visibility: visible;
}